# API
fastapi
uvicorn[standard]

# Database
sqlalchemy
asyncpg
alembic
psycopg2-binary

# Validation
pydantic
pydantic-settings

# Config
python-dotenv

# Connection with S3
boto3

# Authentication
clerk-backend-api
fastapi-clerk-auth
svix
pyjwt[crypto]

# Payments
stripe
